
.Header {
  text-align: left;
  font-family: Arial, sans-serif;
  padding-left: 18vw;
 }

 
 .line-separator {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  width: 100% + 20vw;
  margin-left: -20vw;
 }

 @media (min-width: 600px) {
  .data-grid-container {
    padding-left: 260px;
    padding-top: 8px;
  }
}

.customtable-header {
  background-color: #f9f4e6; /* Set your desired background color */
  color: #365367; /* Set your desired text color */
  font-weight: bold;
  /* Add any other styling you need */
}

@media (min-width: 600px) {
  .chartstyle {
    padding-left: 260px;
    padding-top: 8px;
  }
}