
.Header {
  text-align: left;
  font-family: Arial, sans-serif;
  padding-left: 18vw;
 }

 
 .line-separator {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  width: 100% + 20vw;
  margin-left: -20vw;
 }

 @media (min-width: 600px) {
  .data-grid-container {
    padding-left: 260px;
    padding-top: 8px;
  }
}